.glyphicon {
  font-size: 3em;
  display: block;
  color: #CE57FF;
  text-align: center;
}

body {
  padding-top: 50px;
}

.carousel-image {
  width: 100%;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators .active {
  background-color: #CE57FF;
}

.carousel-indicators li {
  border-color: #222;
}

.dropdown-menu li:nth-child(5){
  background-color: Green;
}
